<h1>Inscripciones</h1>

<%# link_to "<i class='fa fa-plus'></i> Registrar institución".html_safe, new_institution_path(), remote: true, class: 'btn u-btn-outline-primary u-btn-hover-v1-2 mb-2' %>

<%= render( partial: 'shared/table', 
            locals: { table_id: 'inscriptions', 
                      color: 'blue', 
                      icon: 'fa-home',
                      title: "Inscripciones registradas", 
                      col_names: [ 'Empresa', 'Nombre','DNI','Email','Forma de pago','Expone', 'Acciones' ] }) %>