<section class="mx-auto g-pa-20">
	<%= render('header') %>
	<div class="row justify-content-center">
		<% if @limit %>
			<h1> Se completo el cupo de inscripciones. </h1>
		<% else %>
			<%= render 'form', inscription: @inscription %>
		<% end %>
	</div>
</section>

