<section class="mx-auto g-pa-20">
	<%= render('header') %>
	<div class="row justify-content-center">
		<div class="col-12 col-sm-10">
			<%= render 'form', inscription: @inscription %>
		</div>
	</div>
</section>

