<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Comprobante de registro</h1>
    <p>Presente el codigo QR que se adjunta en el PDF en mostrador al ingresar al evento.</p>
  </body>
</html>
