<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Te esperamos en el evento de jovenes profesionales. </h1>
    <p>Presente el codigo QR que se adjunta en el PDF en mostrador al ingresar.</p>
  </body>
</html>
